body {
  background: #6e28d9;
  color: white; /* Change my color to yellow */
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: white; /* Change my color to red */
  }
}
